
::-webkit-scrollbar {
    width: 10px;

}


::-webkit-scrollbar-track {
    background: #e2e2e2;
}


::-webkit-scrollbar-thumb {
    background: #34B234;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background: #2a8c2a;
}

body{

    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{
    font-size: 20px;
    color: #888888;
    align-items: center;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

header nav{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header nav a{
    color: #888888;
    text-decoration:none;
    font-weight: bold;
}

header nav a:hover{
    color: #696868;
    text-decoration:none;
}

.green{
    color: #34B234
}

.medium{
    font-weight: bold;
}

section{
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    align-items: center;

}
div.slogan-btn-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.slogan-btn-container .btn{
    width: fit-content;
}

section.WeAre{
    align-items: flex-end;
}

section.Аdvantages h3{
    color: #FFFFFF;
    margin-block-end: 0;
    font-size: 30px;
    width: fit-content;
    background: #34B234;
    border-radius: 30px;
    padding: 10px 14px;
}
section.Аdvantages{
    padding: 30px;
    align-items: normal;
    flex-direction: column;
    background: #E3EDF7;
    box-shadow: -15px 15px 30px rgba(204, 213, 222, 0.2), 15px -15px 30px rgba(204, 213, 222, 0.2), -15px -15px 30px rgba(250, 255, 255, 0.9), 15px 15px 38px rgba(204, 213, 222, 0.9), inset 1px 1px 2px rgba(250, 255, 255, 0.3), inset -1px -1px 2px rgba(204, 213, 222, 0.5);

}

section.Аdvantages .right{
    align-items: flex-end;
}


section.Аdvantages div{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

section.Аdvantages div div{

    flex-direction: column;
    align-items: normal;
}

section.Аdvantages h2{
    text-align: center;
}

section p{
    line-height: 40px;
    font-size: 20px;

    width: 90%;
    padding: 30px;

    box-shadow: -15px 15px 30px rgba(204, 213, 222, 0.2), 15px -15px 30px rgba(204, 213, 222, 0.2), -15px -15px 30px rgba(250, 255, 255, 0.9), 15px 15px 38px rgba(204, 213, 222, 0.9), inset 1px 1px 2px rgba(250, 255, 255, 0.3), inset -1px -1px 2px rgba(204, 213, 222, 0.5);
    border-radius: 50px;
}

section.Аdvantages p{

    background: #E3EDF7;
}



section h2{

    font-weight: bold;
    font-size: 50px;
}

section h1{
    font-weight: bold;
    font-size: 65px;
}

.WeAre div{
    width: 60%;
}

section.chooseUs{
    flex-direction: column;
}

section.chooseUs .right{
    align-self: end;
}

section.chooseUs div{
    display: flex;
    flex-direction: row;
    height: 250px;
}

.btn:hover{
    background: #dfe8ea;
}

.btn{
    font-weight: bold;

    width: 30%;
    color: #34B234;
    font-size: 35px;
    border: none;
    padding: 10px 40px;
    background: #ECF2F4;
    box-shadow: -10px 10px 20px rgba(203, 208, 210, 0.2), 10px -10px 20px rgba(203, 208, 210, 0.2), -10px -10px 20px rgba(255, 255, 255, 0.9), 10px 10px 25px rgba(203, 208, 210, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(203, 208, 210, 0.5);
    border-radius: 30px;
}

.svgC{
    padding-bottom: 20px;
}

.SignIcon{
    width: 52px;
    margin: 10px;
}

div.header-signin div{
    display: flex;
    align-items: center;
}

main.myHome {
    display: flex;
}

.news{
    display: flex;
    flex-direction: column;
    flex-basis:33.33%;
}

.mainPanel{
    background: #E3EDF7;
    box-shadow: -15px 15px 30px rgba(204, 213, 222, 0.2), 15px -15px 30px rgba(204, 213, 222, 0.2), -15px -15px 30px rgba(250, 255, 255, 0.9), 15px 15px 38px rgba(204, 213, 222, 0.9), inset 1px 1px 2px rgba(250, 255, 255, 0.3), inset -1px -1px 2px rgba(204, 213, 222, 0.5);
    border-radius: 62px;
    display: flex;
    flex-basis:66.66%;
}

.news aside img{
    width: 100%;
}

.news aside{
    margin: 0 30px 30px 30px;

    background: linear-gradient(108.65deg, #FFFFFF 1.27%, rgba(255, 255, 255, 0) 89.16%), #E3EDF7;
    box-shadow: 2px 2px 4px rgba(114, 142, 171, 0.1), -6px -6px 20px rgba(255, 255, 255, 0.4), 4px 4px 20px rgba(111, 140, 176, 0.41);
    border-radius: 14px;
}

.news aside h4{
    margin: 20px;
}

.news aside p{
    margin: 20px;
}


.ModelPopUp{
    position: absolute;
    padding: 50px;
    background: #E3EDF5;
    box-shadow: -1px 1px 2px rgba(204, 213, 221, 0.2), 1px -1px 2px rgba(204, 213, 221, 0.2), -1px -1px 2px rgba(250, 255, 255, 0.9), 1px 1px 3px rgba(204, 213, 221, 0.9), inset 1px 1px 2px rgba(250, 255, 255, 0.3), inset -1px -1px 2px rgba(204, 213, 221, 0.5);
    border-radius: 50px;
}

.ModelPopUp input{
    background: #E3EDF4;
    box-shadow: 1px 1px 2px rgba(241, 251, 255, 0.3), -1px -1px 2px rgba(213, 223, 229, 0.5), inset -5px 5px 10px rgba(213, 223, 229, 0.2), inset 5px -5px 10px rgba(213, 223, 229, 0.2), inset -5px -5px 10px rgba(241, 251, 255, 0.9), inset 5px 5px 13px rgba(213, 223, 229, 0.9);
    border-radius: 20px;
}

.ModelPopUp button{
    background: #E3EDF5;
    box-shadow: -6px 6px 12px rgba(216, 225, 233, 0.2), 6px -6px 12px rgba(216, 225, 233, 0.2), -6px -6px 12px rgba(238, 249, 255, 0.9), 6px 6px 15px rgba(216, 225, 233, 0.9), inset 1px 1px 2px rgba(238, 249, 255, 0.3), inset -1px -1px 2px rgba(216, 225, 233, 0.5);
    border-radius: 50px;
}
